.card {
  margin-top: 92px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
  "title artists"
  "image description"
  "button description";
  gap:48px 40px;
}

  .card__title {
  max-width: 450px;
  grid-area: title;
  font-family:"Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  color:#FFFFFF;
  margin:0;
}

  .card__image {
   grid-area: image;
   width: 100%;
   box-shadow: 10px 10px 25px 0px #00000080;
  }

  .card__image:hover {
    opacity: 50%;
    cursor: pointer;

  }

  .card__artists {
    grid-area: artists;
    display: flex;
    flex-direction:column;
    justify-content: end;
  }

  .card__artists-identification {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color:#FFFFFF;
    margin:0;
  }

  .card__artists-name {
    margin:0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;

  }

  .card__text {
    grid-area: description;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;

  }

  .card__description-start {
    margin:0;
   }

   .card__description-middle {
    margin:25px 0 0 ;
   }

   .card__description-end {
    margin:25px 0 0;
   }

  .card__button {
    max-width: 355px;
    height: 48px;
    grid-area: button;
    align-items: start;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    padding: 13px 20px;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    box-shadow: 10px 10px 25px 0px #00000080;
    border-radius: 4px;
    border: none;
  }

  .card__button:hover {
    cursor: pointer;
    background:  #003A7B;
  }

  @media (max-width:1024px) {
  .card {
    margin-top: 88px;
  }
  .card__title {
    font-size: 42px;
  }
  .card__text {
    font-size: 16px;
  }
}

@media (max-width:544px) {
  .card {
  margin-top:50px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "title"
  "artists"
  "image"
  "description"
  "description"
  "button";
  gap:30px;
}

.card__title {
  font-size: 32px;
 }

  .card__artists {
    margin: auto;
  }
  .card__text {
    font-size: 16px;
}
.card__button {
  font-size: 14px;
}
}





